body {
   background-image: linear-gradient(rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)),
   url('../img/showcase.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top: auto 0px;
   max-width: inherit; }
.loginbox {
  width: 500px;
  height: 320px;
  color: #fefefe;
  margin-top: 10%;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 80px 80px; }
.avater {
  width: 100px;
  height: 100px;
  align-items: center;
  border-radius: 50%;
  position: flex;
  top: -50px; }
h1 {
  margin: 0;
  padding: 0  0 20px;
  text-align: center;
  font-size: 30px; }
.loginbox p {
  margin: 0px;
  padding-top: 2px;
  font-weight: bolder;
  font-size: 20px; }
.loginbox input {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px; }
.loginbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #f9f9f9;
  background: transparent;
  outline: none;
  height: 40px;
  color: #f9f9f9;
  font-size: 18px; }
.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 20px;
  border-radius: 20px; }
.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #d3958B;
  color: #000; }
.loginbox a {
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  color: darkgrey; }
.loginbox a:hover {
  color: #ffc107; }