.main-nav {
  float:right;
  list-style: none;
  margin-top: 30px;
  font-weight: bold; }
.main-nav li {
  display: contents; }
.main-nav li a {
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px; }
.main-nav li.active a {
  background: #d3958b; }
.main-nav li a:hover {
  background: #d3958b; }
.row {
  max-width: 1200px;
  margin: auto; }